-e .

Sphinx==1.6.7; python_version in '2.7'
docutils!=0.14rc1; python_version in '2.7'
pyOpenSSL >= '16.2.0'; python_version in '2.7'
Pygments; python_version in '2.7'
decorator; python_version in '2.7'
git+https://github.com/cawka/sphinxcontrib-aafig.git#egg=sphinxcontrib-aafig; python_version in '2.7'
hieroglyph; python_version in '2.7'
importlib; python_version < '2.7'
mock; python_version in '2.7'
paramiko; python_version in '2.7'
pillow; python_version in '2.7'
recommonmark; python_version in '2.7'
rst2pdf; python_version in '2.7'
scp; python_version in '2.7'
sphinx-bootstrap-theme; python_version in '2.7'
sphinx-pyreverse; python_version in '2.7'
sphinx-rtd-theme; python_version in '2.7'
sphinxcontrib-actdiag; python_version in '2.7'
sphinxcontrib-autoprogram; python_version in '2.7'
sphinxcontrib-blockdiag; python_version in '2.7'
sphinxcontrib-dd; python_version in '2.7'
sphinxcontrib-ditaa; python_version in '2.7'
sphinxcontrib-httpdomain; python_version in '2.7'
sphinxcontrib-nwdiag; python_version in '2.7'
sphinxcontrib-plantuml; python_version in '2.7'
sphinxcontrib-seqdiag; python_version in '2.7'
sphinxcontrib-websupport; python_version in '2.7'
