include *.txt
include herringfile
include pylint.rc
include MANIFEST.in
recursive-include {package} *.txt
recursive-include {package} *.js
recursive-include {package} *.html
recursive-include {package} *.css
recursive-include docs *
recursive-include tests *
recursive-include herringlib *
